django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-extensions==2.1.3
django-filter==2.0.0
django-resetdb==0.3.1
django-sql-explorer==1.1.2
django-stronghold==0.3.0
django-tables2==2.0.1
ipython==7.0.1
ipython-genutils==0.2.0
psycopg2-binary==2.7.5
pykml==0.1.3
requests==2.20.0
