{% extends "submission/base.html" %}
{% load submission_tags %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Batch {{ batch.id }}</h1>
<p>{{ batch.name }}</p>

<p>Created on: {{ batch.created_on }}</p>

<h2>Comments</h2>
{% if batch.comments %}
{{ batch.comments | linebreaks}}
{% else %}
<p>No comments</p>
{% endif %}


<h2>Submissions</h2>
<div class="container-fluid" style="border:1px solid #D3D3D3; border-radius: 10px">
    {% if submission_filter %}
    {% crispy submission_filter.form %}
    <p>Results: {{ submission_table.data|length }}</p>
    {% endif %}
    {% render_table submission_table %}
</div>

{% if batch.import_error_summary %}
<h2>Import Errors</h2>
<p>Map of column headers to list of unique invalid values (values that caused errors)</p>
{{ batch.import_error_summary|json|safe }}
{% endif %}
{% endblock %}
