{% extends "submission/base.html" %}
{% load submission_tags %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Submission {{ submission.id }}</h1>
<p>{{ submission.name }}</p>

<p>Created on: {{ submission.created_on }}</p>

<h2>Comments</h2>
{% if submission.comments %}
{{ submission.comments | linebreaks}}
{% else %}
<p>No comments</p>
{% endif %}


<h2>Facilities</h2>
<div class="container-fluid" style="border:1px solid #D3D3D3; border-radius: 10px">
    {% if facility_filter %}
    {% crispy facility_filter.form %}
    <p>Results: {{ facility_table.data|length }}</p>
    {% endif %}
    {% render_table facility_table %}
</div>

<h2>Attachments</h2>
<ul>
    {% for attachment in submission.attachments.all %}
    <li>{{ attachment }}</li>
    {% empty %}
    <li>No attachments</li>
    {% endfor %}
</ul>

{% if submission.import_error_summary %}
<h2>Import Errors</h2>
<p>Map of column headers to list of unique invalid values (values that caused errors)</p>
{{ submission.import_error_summary|json|safe }}
{% endif %}
{% endblock %}
