{% extends "submission/base.html" %}
{% load submission_tags %}

{% block content %}
<h1>{{ applicant }}</h1>
<div class="row">
    <div class="col-sm">
        {% info_table applicant "Applicant Info" applicant_info %}
    </div>
    <div class="col-sm">
        {% info_table applicant "Application" application_info %}
    </div>
    <div class="col-sm">
        {% info_table applicant "Status Info" status_info %}
    </div>
</div>
<div class="row">
    <div class="col-lg">
        {% if applicant.comments %}
        <h2>Comments</h2>
        {{ applicant.comments | linebreaks }}
        {% endif %}
        {% if applicant.attachments %}
            {% attachment_table applicant "Attachments" attachment_info %}
        {% endif %}
    </div>
</div>

{% endblock %}
