{% extends "cases/base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load cases_tags %}
{% load django_import_data_tags %}


{% block content %}
{% make_breadcrumb attachment %}

<h1>
    <a
        href="file://{{ attachment.path }}"
        title={{ attachment.path | basename }}
    >
        {{ attachment.hyperlink }}
    </a>
</h1>
<h2>Comments</h2>
<p>{{ attachment.comments }}</p>

<p><a href={% url "admin:cases_attachment_change" attachment.id %}>Edit</a></p>

{% for table in tables %}
    <h2>Attachment for {{ table | table_model_name }} ({{ table.data|length }})</h2>
    {% if table.data %}
    {% render_table table %}
    {% else %}
    <p>No results</p>
    {% endif %}
{% endfor %}

{% endblock %}
