{% extends "cases/base.html" %}
{% load cases_tags %}

{% block extrahead %}
<title>Attachment Index</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1><a href="{% url 'attachment_index' %}">Attachment Index</a></h1>
    </div>
    <div class="col">
        <form method="POST">{% csrf_token %}
            <input type="checkbox" name="refresh_from_filesystem">
            <input type="submit" name="submit" value="Refresh from Filesystem">
        </form>
    </div>
</div>
{% filter_table %}

{% endblock %}
