{% extends "cases/base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load cases_tags %}
{% load django_import_data_tags %}


{% block content %}
{% make_breadcrumb attachment %}

{% if attachment.file_missing and attachment.is_active %}
{% include "audits/attachment_file_change_jumbotron.html" %}
{% endif %}

<div class="row">
    <div class="col-auto">

        <h1>
            <a
                href="file://{{ attachment.file_path }}"
                title="{{ attachment.file_path }}"
            >
                {{ attachment.hyperlink }} ({% if attachment.is_active %}Found{%else%}Not Found{% endif %})
            </a>
        </h1>
    </div>

    <div class="col">
        <a href={% url "admin:cases_attachment_change" attachment.id %}>Edit</a>
    </div>
</div>
<h2>Comments</h2>
<p>{{ attachment.comments | linebreaks }}</p>

{% for table in tables %}
    <h2>Attachment for {{ table | table_model_name_plural }} ({{ table.data|length }})</h2>
    {% if table.data %}
    {% render_table table %}
    {% else %}
    <p>No results</p>
    {% endif %}
{% endfor %}

{% endblock %}
