{% extends "cases/base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
<h1>{{ attachment.path }}</h1>
<h2>Comments</h2>
<p>{{ attachment.comments }}</p>

<h2>Cases</h2>
{% if case_table.data %}
<div class="container-fluid" style="border:1px solid #D3D3D3; border-radius: 10px">
    {% if case_filter %}
    {% crispy case_filter.form %}
    <p>Results: {{ case_table.data|length }}</p>
    {% endif %}
    {% render_table case_table %}
</div>
{% else %}
<p>No Cases</p>
{% endif %}
{% endblock %}
