{% load static %}
{% load cases_tags %}

<!doctype html>
<html lang="en">
  <head>
{% block head %}
    <meta charset="utf-8">
    <title>QZAT | {{ view | view_to_str }}</title>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/fontawesome-5.9.0.min.js' %}"></script>
    <script src="{% static 'js/renderjson-1.4.0.js' %}"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-5.9.0.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

    {% block extrahead %}
    {% endblock %}
{% endblock head %}
  </head>

  <body>
    <div class="container">
      {% include "cases/header.html" %}
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
