{% extends "cases/base.html" %}
{% load cases_tags %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}

<p><a href={% url "admin:cases_batch_change" batch.id %}>Edit</a></p>

<h1>Batch {{ batch.id }}</h1>
{% include "cases/base_detail.html" %}

<p><a href=file://{{ batch.imported_from }}>Open original Excel file: {{batch.name}}</a></p>

<form action={% url "batch_audit_create" %} method="post">
    {% csrf_token %}
    <input name="original_file" value={{ batch.imported_from }} />
    <input type="hidden" name="audit_group" value={{ batch.audit_group.id }}>

    <input type="submit" name="reimport" value="Re-import" />
</form>

<h2>Comments</h2>
{% if batch.comments %}
{{ batch.comments | linebreaks}}
{% else %}
<p>No comments</p>
{% endif %}


<h2>Cases</h2>
<div class="container-fluid" style="border:1px solid #D3D3D3; border-radius: 10px">
    {% filter_table case_table case_filter %}
</div>

<h2>Import History</h2>
<ul>
{% for batchaudit in batch.audit_group.audits.all %}
    <li>
        <a class="batch-{{batchaudit.status}} {% if forloop.first %}first-batch {% endif %}" href={% url 'batch_audit_detail' batchaudit.id %}>
            Batch Audit {{batchaudit.id}}, imported on {{batchaudit.created_on}}: {{batchaudit.status}}
        </a>
    </li>
{% endfor %}
</ul>

{% if batch.import_error_summary %}
<h2>Current Import Errors</h2>

<p>Map of column headers to list of unique invalid values (values that caused errors)</p>
{{ batch.import_error_summary|json|safe }}
{% endif %}
{% endblock %}
