{% extends "cases/base.html" %}
{% load cases_tags %}
{% load render_table from django_tables2 %}
{% load django_import_data_tags %}
{% load crispy_forms_tags %}

{% block content %}

{% if case.model_import_attempt %}
    {% make_breadcrumb case %}
{% endif %}

<div class="row">
    <div class="col-lg-3">
        <h1>Case {{ case.case_num }}</h1>
    </div>

    <div class="col-lg-1 d-print-none">
        <a href="{% url 'admin:cases_case_change' case.id %}">Edit</a>
    </div>

    <div class="col-lg-1 d-print-none">
        <a href="{% url 'admin:cases_case_delete' case.id %}"> Delete</a>
    </div>

    <div class="col-lg-3 d-print-none">
        <p>Date Received: {{ case.date_recorded|default:"None" }}</p>
    </div>

    <div class="col-lg-4 d-print-none">
        <form action="{% url 'duplicate_case' case.case_num %}" method="post">
            {% csrf_token %}
            {{ duplicate_case_form.as_p }}
        </form>
    </div>


</div>

<h2>Applicant Info</h2>
<table class="table">
    <tr>
        <th>Applicant</th>
        <td>
            {% if case.applicant %}
            <a href={% url "person_detail" case.applicant.id %}>{{ case.applicant.name }}</a>
            {% else %}
            <p>None</p>
            {% endif %}
        </td>
        <td>
            {% if case.applicant.phone %}
            <p>{{ case.applicant.phone }}</p>
            {% else %}
            <p>No phone</p>
            {% endif %}
        </td>
        <td>
            {% if case.applicant.email %}
            <p>{{ case.applicant.email }}</p>
            {% else %}
            <p>No email</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Contact</th>
        <td>
            {% if case.contact %}
            <a href={% url "person_detail" case.contact.id %}>{{ case.contact.name }}</a>
            {% else %}
            <p>None</p>
            {% endif %}
        </td>
        <td>
            {% if case.contact.phone %}
            <p>{{ case.contact.phone }}</p>
            {% else %}
            <p>No phone</p>
            {% endif %}
        </td>
        <td>
            {% if case.contact.email %}
            <p>{{ case.contact.email }}</p>
            {% else %}
            <p>No email</p>
            {% endif %}
        </td>
    </tr>
</table>

<h2>Facilities</h2>
{% if tables.0.data %}
<a href="{% url 'case_kml' case.id %}">As KML</a>
{% render_table tables.0 %}
{% else %}
<p>No Facilities</p>
{% endif %}


<div class="row">
    <div class="col-lg">
        {% info_table case "Case Info" application_info %}
    </div>
    <div class="col-lg">
        {% info_table case "Case Status" status_info %}
    </div>
    <div class="col-lg">
        {% info_table case "Sugar Grove Info" sgrs_info %}
    </div>
</div>

<h2>Comments</h2>
{% if case.comments %}
{{ case.comments | linebreaks}}
{% else %}
<p>No comments</p>
{% endif %}

<h2>Attachments</h2>
{% if tables.1.data %}
{% render_table tables.1 %}
{% else %}
<p>No attachments</p>
{% endif %}

{% include "cases/related_cases_info.html" with case=case case_table=tables.2 pcase_table=tables.3 %}

{% if case.import_error_summary %}
<h2>Import Errors</h2>
<p>Map of column headers to list of unique invalid values (values that caused errors)</p>
{{ case.import_error_summary|json|safe }}
{% endif %}

<hr>

<div class="row">
    <div class="col-lg">
        {% info_table case "TODO: Unsorted" unsorted_info %}
    </div>
</div>
{% endblock %}
