{% extends "admin/change_form.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/select2-bootstrap.min.css' %}">
{% endblock extrahead %}

{% block content %}

{% if change %}
{% if not is_popup %}
    <ul class="object-tools">
        {% change_form_object_tools %}
    </ul>
{% endif %}
{% endif %}


{% crispy adminform.form adminform.form.helper %}
{% endblock %}
