{% extends "cases/base.html" %}
{% load cases_tags %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
{% if case.model_import_attempt.file_import_attempt %}
<a href={% url "fileimportattempt_detail" case.model_import_attempt.file_import_attempt.id %}>View file import attempt</a>
{% else %}
<p>Not imported from a file</p>
{% endif %}

<p><a href={% url "admin:cases_case_change" case.id %}>Edit</a></p>


<h1>Case {{ case.case_num }} ({{ case.applicant.name }})</h1>
{% include "cases/base_detail.html" %}

<h2>Facilities</h2>
{% if case.facilities.all %}
<div class="container-fluid" style="border:1px solid #D3D3D3; border-radius: 10px">
    {% if facility_filter %}
    {% crispy facility_filter.form %}
    <button class="btn btn-info btn-sm filter-button" type="button" data-toggle="collapse" data-target="#facility-filter-form" aria-expanded="true" aria-controls="facility-filter-form">
        Show Filters
    </button>
    <p>{{ facility_table.data|length }} facilities</p>
    {% endif %}
    <form method="get" action={% url 'letters' %}>
        {% render_table facility_table %}
        <input type="hidden" name="cases" value="{{ case.case_num }}">
        <button type="submit" class="btn btn-primary" title="Generate letter from selected Facilities">
            Generate Letter
        </button>
    </form>

</div>
{% else %}
<p>No Facilities</p>
{% endif %}

<h2>Applicant Info</h2>
<table class="table">
    <tr>
        <th>Applicant</th>
        <td>
            {% if case.applicant %}
            <a href={% url "person_detail" case.applicant.id %}>{{ case.applicant.name }}</a>
            {% else %}
            <p>None</p>
            {% endif %}
        </td>
        <td>
            {% if case.applicant.phone %}
            <p>{{ case.applicant.phone }}</p>
            {% else %}
            <p>No phone</p>
            {% endif %}
        </td>
        <td>
            {% if case.applicant.email %}
            <p>{{ case.applicant.email }}</p>
            {% else %}
            <p>No email</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Contact</th>
        <td>
            {% if case.contact %}
            <a href={% url "person_detail" case.contact.id %}>{{ case.contact.name }}</a>
            {% else %}
            <p>None</p>
            {% endif %}
        </td>
        <td>
            {% if case.contact.phone %}
            <p>{{ case.contact.phone }}</p>
            {% else %}
            <p>No phone</p>
            {% endif %}
        </td>
        <td>
            {% if case.contact.email %}
            <p>{{ case.contact.email }}</p>
            {% else %}
            <p>No email</p>
            {% endif %}
        </td>
    </tr>
</table>

<div class="row">
    <div class="col-sm">
        {% info_table case "Application" application_info %}
    </div>
    <div class="col-sm">
        {% info_table case "Status Info" status_info %}
    </div>
</div>

<h2>Comments</h2>
{% if case.comments %}
{{ case.comments | linebreaks}}
{% else %}
<p>No comments</p>
{% endif %}



<h2>Attachments</h2>
{% if attachment_table.data %}
<div class="container-fluid">
    {% filter_table attachment_table attachment_filter %}
</div>
{% else %}
<p>No attachments</p>
{% endif %}

{% if case.import_error_summary %}
<h2>Import Errors</h2>
<p>Map of column headers to list of unique invalid values (values that caused errors)</p>
{{ case.import_error_summary|json|safe }}
{% endif %}
{% endblock %}
