{% extends "cases/base.html" %}
{% load cases_tags %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
{% if case.batch %}
<a href={% url "batch_detail" case.batch.id %}>View batch</a> |
{% else %}
<p>Not created from an Excel sheet; no batch</p>
{% endif %}

<a href="{% url 'letters' %}?cases={{case.case_num}}">View concurrence letter</a>

<h1>Case {{ case.case_num }}</h1>

<p>Created on: {{ case.created_on }}</p>

<h2>Facilities</h2>
{% if case.facilities.all %}
<div class="container-fluid" style="border:1px solid #D3D3D3; border-radius: 10px">
    {% if facility_filter %}
    {% crispy facility_filter.form %}
    <p>Results: {{ facility_table.data|length }}</p>
    {% endif %}
    <form method="get">
        {% render_table facility_table %}
        <button type="submit">Generate Concurrence Letter</button>
    </form>

</div>
{% else %}
<p>No Facilities</p>
{% endif %}

<h2>Applicant Info</h2>
<table class="table">
    <tr>
        <th>Applicant</th>
        <td>
            {% if case.applicant %}
            <a href={% url "person_detail" case.applicant.id %}>{{ case.applicant.name }}</a>
            {% else %}
            <p>None</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Contact</th>
        <td>
            {% if case.contact %}
            <a href={% url "person_detail" case.contact.id %}>{{ case.contact.name }}</a>
            {% else %}
            <p>None</p>
            {% endif %}
        </td>
    </tr>
</table>

<div class="row">
    <div class="col-sm">
        {% info_table case "Application" application_info %}
    </div>
    <div class="col-sm">
        {% info_table case "Status Info" status_info %}
    </div>
</div>

<h2>Comments</h2>
{% if case.comments %}
{{ case.comments | linebreaks}}
{% else %}
<p>No comments</p>
{% endif %}



<h2>Attachments</h2>
{% if attachment_table.data %}
<div class="container-fluid">
    {% if attachment_filter %}
    {% crispy attachment_filter.form %}
    <p>Results: {{ attachment_table.data|length }}</p>
    {% endif %}
    {% render_table attachment_table %}
</div>
{% else %}
<p>No attachments</p>
{% endif %}

{% if case.import_error_summary %}
<h2>Import Errors</h2>
<p>Map of column headers to list of unique invalid values (values that caused errors)</p>
{{ case.import_error_summary|json|safe }}
{% endif %}
{% endblock %}
