{% extends "cases/base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h1>Concurrence Letter Generation</h1>

<a href={% url "admin:cases_lettertemplate_changelist" %}>Edit Letter Templates</a>

{% crispy template_form %}

<h3>Summary:</h3>
<div class="row">
  <div class="col-sm-4">
    <h4>Cases:</h4>
    {% if cases %}
    <ul>
      {% for case in cases %}
      <li>Case {{ case.case_num }}: {{ case.facilities.count }} facilities</li>
      {% endfor %}
    </ul>
    {% else %}
    <span>No cases!</span>
    {% endif %}
  </div>

  <div class="col-sm-4">
    <h4>Non-Case Facilities:</h4>
    {% if facilities %}
    <ul>
      {% for facility in non_case_facilities %}
      <li>Facility {{ facility.nrqz_id }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <span>No non-case facilities!</span>
    {% endif %}
  </div>

</div>

<div class="container-fluid border">
  {% if facilities %}
  {{ letter_template }}
  {% else %}
  <p>No facilities! Alter your selections above such that technical information is included</p>
  {% endif %}
</div>

{% endblock content %}
