{% extends "cases/base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h1>Concurrence Letter Generation</h1>

<form id="letter-template-form" method="get">
  {{ template_form }}
  {{ template_form.media }}
  <button class="button" type="submit" value="submit">Submit</button>
  <button class="button" type="submit" name="download" value="download">Download</button>
</form>

<ul>
  {% for case in cases %}
    <li>Case {{ case.case_num }}: {{ case.facilities.count }} facilities</li>
  {% endfor %}
</ul>

<div class="container-fluid border">
  {% if facilities %}
  {{ letter_template }}
  {% else %}
  <p>No facilities!</p>
  {% endif %}
</div>

{% endblock content %}
