{% extends "cases/base.html" %}
{% load render_table from django_tables2 %}

{% block content %}

<div class="container">
  <h1>Case {{ case.case_num }} Concurrence Letter</h1>
  <div class="container-fluid border">
    <p>{{ case.created_on }}</p>
    <p>NRQZ IDs: {{ nrqz_ids }}</p>

    <p>
      {{ case.contact.name }}<br/>
      {{ case.applicant.name }}<br/>
      {{ case.applicant.street }}<br/>
      {{ case.applicant.city }}, {{ case.applicant.state }} {{ case.applicant.zipcode }}
    </p>

    <table>
      <tr>
        <td>Application Reason/Purpose</td>
        <td>{{ case.purpose }}</td>
      </tr>
      <tr>
        <td>FCC File Number</td>
        <td>{{ case.fcc_file_number }}</td>
      </tr>
      <tr>
        <td>Applicant Name</td>
        <td>{{ case.applicant.name }}</td>
      </tr>
      <tr>
        <td>Call Sign</td>
        <td>{{ case.call_sign }}</td>
      </tr>
      <tr>
        <td>Site Name or Location</td>
        <td>{{ case.site_name }}</td>
      </tr>
      <tr>
        <td>Coordinates</td>
        <td>{{ case.location }}</td>
      </tr>
      <tr>
        <td>Frequency/Bandwidth</td>
        {% if min_freq and max_freq %}
        <td>{{ min_freq }} - {{ max_freq }} MHz</td>
        {% else %}
        <td>Null</td>
        {% endif %}

      </tr>
      <tr>
        <td>Current NRAO Coordination Number</td>
        <td>{{ case.nrqz_id }}</td>
      </tr>
    </table>
    <br/>

    <p>Dear Applicant:</p>

    <p>The National Radio Quiet Zone (NRQZ) has evaluated these facilities to determine the interference impact on our highly sensitive radio astronomy operations.</p>

    <p>The National Radio Astronomy Observatory (NRAO) site located at Green Bank, Pocahontas County, WV, has no objections to this frequency assignment.</p>

    <p>The Sugar Grove Research Station, formerly the Naval Radio Research Observatory (NRRO), located at Sugar Grove, Pendleton County, WV has no objections to this frequency assignment. This letter constitutes coordination of assignment in the National Radio Quiet Zone as required by the FCC Rules and Regulations 47CFR1.924(a).</p>

    <p>If I may be of assistance, please feel free to contact me.</p>

    <p>
      Sincerest regards,<br/>
      Paulette W. Woody<br/>
      NRQZ Office Administrator<br/>
    </p>

    <p>PWW:pww</p>
    <p>Cc: {{ case.contact.name }}</p>
    <p>file: ???</p>
    <p>Attachments: Site Specific Data</p>

    <p><small>NOTE: This concurrence remains valid provided the data contained within is consistent with the applicant’s filing at the Commission. Any discrepancy in system parameters, such as geographical coordinates (Latitude, Longitude, AMSL), antenna height above ground level (AGL), antenna gains or directivity (orientation), channel (operating frequency or frequency bands), emission type, and power requires re-coordination. If the Commission has questions regarding the validity of this or any concurrence, please direct inquiries to nrqz@nrao.edu or 304-456-2107.11676-01</small></p>

    {% render_table facilities_table %}
  </div>
</div>

{% endblock content %}
