{% extends "cases/base.html" %}
{% load cases_tags %}
{% load django_import_data_tags %}
{% load render_table from django_tables2 %}

{% block content %}
{% make_breadcrumb facility %}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <h1>Facility {{ facility }}</h1>
        </div>
        <div class="col-lg d-print-none">
            <p>Date Received: {{ facility.case.date_recorded|default:"None" }}</p>
        </div>
        <div class="col-lg d-print-none">
            <a href="{% url 'case_detail' facility.case.case_num %}">View case</a>
        </div>

        {% if facility.structure %}
        <div class="col-lg d-print-none">
            <a href="{% url 'structure_detail' facility.structure.id %}">View structure</a>
        </div>
        {% endif %}

        <div class="col-lg d-print-none">
            <a href="{% url 'admin:cases_facility_change' facility.id %}">Edit</a>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            {% location_table facility "Topography Data" topography_info %}
            {% info_table facility "Analysis Results" analysis_results_info %}

        </div>
        <div class="col-lg">
            {% info_table facility "System Configuration Data" transmitter_info %}
            {% info_table facility "Antenna Data" antenna_info %}
            {% info_table facility "Emissions Data" emissions_info %}
        </div>
        <div class="col-lg">
            {% info_table facility "Path Attenuation Results" path_attenuation_info %}
            {% info_table facility "Path Data Interpolation" path_data_interpolation_info %}
            {% info_table facility "USGS Dataset" usgs_dataset_info %}
            {% info_table facility "SGRS" sgrs_info %}
            {% info_table facility "FED" federal_info %}
        </div>
    </div>
</div>

<h2>Comments</h2>
<div class="row">
    {% if facility.comments %}
    <p>{{ facility.comments | linebreaks }}</p>
    {% else %}
    <p>No Comments</p>
    {% endif %}
</div>

<h2>Attachments</h2>
{% if tables.0.data %}
{% render_table tables.0 %}
{% else %}
<p>No attachments</p>
{% endif %}

<div class="row">
    <div class="col-lg">
        {% info_table facility "TODO: Unsorted" unsorted_info %}
    </div>
</div>
{% endblock %}
