{% extends "cases/base.html" %}
{% load cases_tags %}
{% load django_import_data_tags %}

{% block content %}
{% make_breadcrumb facility %}

{% include "cases/base_detail_header.html" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <a href="{% url 'case_detail' facility.case.case_num %}">View case</a>
        </div>

        {% if facility.structure %}
        <div class="col-lg">
            <a href="{% url 'structure_detail' facility.structure.id %}">View structure</a>
        </div>
        {% endif %}

        <div class="col-lg">
            <a href="{% url 'admin:cases_facility_change' facility.id %}">Edit</a>
        </div>
    </div>
</div>

<h1>{{ facility }}</h1>
{% include "cases/base_detail.html" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <div class="row">
                {% location_table facility "Topography Data" topography_info %}
            </div>
        </div>
        <div class="col-lg">
            {% info_table facility "Antenna Data" antenna_info %}
        </div>
        <div class="col-lg">
            {% info_table facility "Transmitter Data" transmitter_info %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            {% info_table facility "Emissions Data" emissions_info %}
        </div>
        <div class="col-lg">
            {% info_table facility "Path Attenuation Results" path_attenuation_info %}
        </div>
        <div class="col-lg">
            {% info_table facility "Analysis Results" analysis_results_info %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            {% info_table facility "FED" federal_info %}
        </div>
        <div class="col-lg">
            {% info_table facility "SGRS" sgrs_info %}
        </div>
    </div>
</div>
<h2>Comments</h2>
<div class="row">
    {% if facility.comments %}
    <p>{{ facility.comments | linebreaks }}</p>
    {% else %}
    <p>No Comments</p>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg">
        {% info_table facility "TODO: Unsorted" unsorted_info %}
    </div>
</div>
{% endblock %}
