{% extends "cases/base.html" %}
{% load cases_tags %}

{% block content %}
{% if facility.model_import_attempt.file_import_attempt %}
<a href={% url "fileimportattempt_detail" facility.model_import_attempt.file_import_attempt.id %}>View File Import Attempt</a>
{% else %}
<span>No File Import Attempt</span>
{% endif %}
|
<a href={% url "case_detail" facility.case.case_num %}>View case</a>
{% if facility.structure %}
| <a href={% url "structure_detail" facility.structure.id %}>View structure</a>
{% endif %}

<p><a href={% url "admin:cases_facility_change" facility.id %}>Edit</a></p>

<h1>{{ facility }}</h1>
{% include "cases/base_detail.html" %}

<div class="row">
    <div class="col-sm">
        <div class="row">
            {% info_table facility "Metadata" meta_info %}
        </div>
        <div class="row">
            {% location_table facility "Location Info" location_info %}
        </div>
    </div>
    <div class="col-sm">
        {% info_table facility "Antenna Info" antenna_info %}
    </div>
    <div class="col-sm">
        {% info_table facility "Other Info" other_info %}
    </div>
</div>
{% if facility.comments %}
<h2>Comments</h2>
<div class="row">
    {{ facility.comments | linebreaks }}
</div>
{% endif %}

{% endblock %}
