<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {# <a class="navbar-brand" href="/">NRQZ Admin</a> #}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href={% url "case_index" %}>Cases</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href={% url "prelim_case_index" %}>PCases</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href={% url "facility_index" %}>Facilities</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href={% url "structure_index" %}>Structures</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href={% url "fileimporter_list" %}>File Imports</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href={% url "modelimportattempt_list" %}>Model Imports</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href={% url "person_index" %}>People</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href={% url "attachment_index" %}>Attachments</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href={% url "letters" %}>Letters</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-info" href={% url "explorer_index" %}>SQL Explorer</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-info" href={% url "admin:index" %}>Admin</a>
    </li>
  </ul>
</nav>
