{% extends "cases/base.html" %}
{% load cases_tags %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
<h1>{{ person.name }}</h1>
<div class="row">
    <div class="col-sm">
        {% info_table person "Entity Info" applicant_info %}
    </div>
</div>

<h2>Cases</h2>
<p>Cases where <b>{{ person.name }}</b> is either an applicant or a contact</p>
<div class="container-fluid" style="border:1px solid #D3D3D3; border-radius: 10px">
    {% filter_table case_table case_filter %}
</div>

<h2>Preliminary Cases</h2>
<p>Preliminary Cases where <b>{{ person.name }}</b> is either an applicant or a contact</p>
<div class="container-fluid" style="border:1px solid #D3D3D3; border-radius: 10px">
    {% filter_table prelim_case_table prelim_case_filter %}
</div>



{% endblock %}
