{% extends "cases/base.html" %}
{% load cases_tags %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}

<p><a href={% url "admin:cases_preliminarycasegroup_change" preliminarycasegroup.id %}>Edit</a></p>

<h1>Preliminary Case Group {{ preliminarycasegroup.id }}</h1>
{% include "cases/base_detail.html" %}


<h2>Preliminary Cases</h2>
{% if tables.0.data %}
{% render_table tables.0 %}
{% else %}
<p>No PCases</p>
{% endif %}

<h2>Comments</h2>
{% if preliminarycasegroup.comments %}
{{ preliminarycasegroup.comments | linebreaks}}
{% else %}
<p>No comments</p>
{% endif %}

{% endblock %}
