{% extends "cases/base.html" %}
{% load cases_tags %}
{% load django_import_data_tags %}

{% block content %}
{% make_breadcrumb preliminaryfacility %}
{% include "cases/base_detail_header.html" %}

<a href={% url "prelim_case_detail" preliminaryfacility.pcase.case_num %}>View Preliminary Case</a>

<p><a href={% url "admin:cases_preliminaryfacility_change" preliminaryfacility.id %}>Edit</a></p>

<h1>{{ preliminaryfacility }}</h1>
{% include "cases/base_detail.html" %}

<div class="row">
    <div class="col-sm">
        <div class="row">
            {% info_table preliminaryfacility "Metadata" meta_info %}
        </div>
        <div class="row">
            {% location_table preliminaryfacility "Location Info" location_info %}
        </div>
    </div>
    <div class="col-sm">
        {% info_table preliminaryfacility "Antenna Info" antenna_info %}
    </div>
    <div class="col-sm">
        {% info_table preliminaryfacility "Other Info" other_info %}
    </div>
</div>
{% if preliminaryfacility.comments %}
<h2>Comments</h2>
<div class="row">
    {{ preliminaryfacility.comments | linebreaks }}
</div>
{% endif %}

{% endblock %}
