{% extends "cases/base.html" %}
{% load cases_tags %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load django_import_data_tags %}

{% block content %}
{% make_breadcrumb preliminarycase %}
{% include "cases/base_detail_header.html" %}

<h1>Preliminary Case {{ preliminarycase.case_num }}</h1>
{% include "cases/base_detail.html" %}

<h2>Applicant Info</h2>
<table class="table">
    <tr>
        <th>Applicant</th>
        <td>
            {% if preliminarycase.applicant %}
            <a href={% url "person_detail" preliminarycase.applicant.id %}>{{ preliminarycase.applicant.name }}</a>
            {% else %}
            <p>None</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Contact</th>
        <td>
            {% if preliminarycase.contact %}
            <a href={% url "person_detail" preliminarycase.contact.id %}>{{ preliminarycase.contact.name }}</a>
            {% else %}
            <p>None</p>
            {% endif %}
        </td>
    </tr>
</table>

<div class="row">
    <div class="col-sm">
        {% info_table preliminarycase "Application" application_info %}
    </div>
    <div class="col-sm">
        {% info_table preliminarycase "Status Info" status_info %}
    </div>
</div>

<h2>Related Case</h2>
{% if preliminarycase.pcase_group.case %}
<a href="{% url "case_detail" preliminarycase.pcase_group.case.case_num %}">{{ preliminarycase.pcase_group.case }}</a>
{% else %}
<p>No related Case</p>
{% endif %}

<h2>Related PCases</h2>
{% if preliminarycase.pcase_group.prelim_cases.exists %}
<ul>
    {% for pc in preliminarycase.pcase_group.prelim_cases.all %}
    <li>
        <a href="{% url "prelim_case_detail" pc.case_num %}">{{ pc }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No related PCases</p>
{% endif %}

<h2>Preliminary Facilities</h2>
<p><a href="{% url 'prelim_facility_index'%}?pcase={{preliminarycase.id}}">View in Preliminary Facility Index</a></p>
{% if tables.0.data %}
{% render_table tables.0 %}
{% else %}
<p>No Preliminary Facilities</p>
{% endif %}


<h2>Attachments</h2>
{% if tables.1.data %}
{% render_table tables.1 %}
<p>No Attachments</p>
{% endif %}


{% endblock %}
