{% extends "cases/base.html" %}
{% load cases_tags %}
{% load audits_tags %}

{% block content %}
<h1>Batch Audit {{ batchaudit.id }}</h1>
<p><a href=file://{{ batchaudit.original_file }}>Open original Excel file: {{batchaudit.original_file|basename}}</a></p>

<p><a href={% url "admin:cases_batchaudit_change" batchaudit.id %}>Edit</a></p>

<p><a href={% url "batch_audit_group_detail" batchaudit.audit_group.id %}>Audit Group</a></p>

<p>Status: {{ batchaudit.status }} </p>
{% if batchaudit.status == "created_clean" %}
<p class="batch-created-clean-msg">
    Batch <a href={% url "batch_detail" batchaudit.audit_group.batch.id %}>{{ batchaudit.audit_group.batch }}</a> was successfully created

</p>
{% elif batchaudit.status == "created_dirty" %}
<p class="batch-created-dirty-msg">
    Batch <a href={% url "batch_detail" batchaudit.audit_group.batch.id %}>{{ batchaudit.audit_group.batch }}</a> was successfully created, but had some minor errors
</p>
{% else %}
<p>
    <span class="batch-rejected-msg">
        No Batch created due to errors!
    </span>
    {% if batchaudit.exists %}
    <span class="batch-created-dirty-msg">
        However, a Batch has been successfully created subsequently: Batch <a href={% url "batch_detail" batchaudit.audit_group.batch.id %}> {{ batchaudit.audit_group.batch }}</a>
    </span>
    {% endif %}
</p>
{% endif %}

<form action={% url "batch_audit_create" %} method="post">
    {% csrf_token %}
    <input name="original_file" value={{ batchaudit.original_file }}>
    <input type="hidden" name="audit_group" value={{ batchaudit.audit_group.id }}>
    <input type="submit" name="reimport" value="Re-import" />
</form>

<h2>Error Summary</h2>
<p>Displays a summary of import errors</p>
{% for error_category, errors_by_type in batchaudit.error_summary.items %}
{% if error_category == "by_field" %}
Errors by field:
<ul>
    {% for error_type, errors in batchaudit.error_summary.by_field.items %}
        <li>Field '{{error_type}}' had errors in rows: {{errors|range_notation}}</li>
    {% endfor %}
</ul>
{% else %}
{{error_category}}: {{errors_by_type|json|safe}}
{% endif %}
{% endfor %}

<h2>Error Report</h2>
<p>Displays every error recorded during import</p>
<div class="container-fluid" style="border:1px solid #D3D3D3; border-radius: 10px">
    {{ batchaudit.errors|json|safe }}
</div>
{% endblock %}
