{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/congratulations.css' %}">
<script src='https://code.jquery.com/jquery-3.3.1.min.js' crossorigin='anonymous'></script>
<script src="{% static 'js/congratulations.js' %}"></script>
<div id="content">
    <p><span class="easter easter-rotate easter-rotate-left">🎉</span> <span class="easter easter-rotate easter-rotate-left">🎉</span> <span class="easter easter-rotate easter-rotate-left">🎉</span></p>
    <p class="easter">All done!</p>
    <p class="easter easter-small">There are no {{ name }} that need action!</p>
    <p><span class="easter easter-rotate">😊</span> <span class="easter easter-rotate">😊</span> <span class="easter easter-rotate">😊</span></p>
    <div class="buttonContainer">
        <button id="stopButton" class="btn btn-info">Stop Confetti</button>
    </div>
</div>
<canvas id="canvas"></canvas>
