{% extends "cases/base.html" %}
{% load cases_tags %}
{% load django_import_data_tags %}
{% load render_table from django_tables2 %}

{% block content %}

<h1>{{ fileimporter }}</h1>

<p>
    <a href="file://{{ fileimporter.last_imported_path }}">
        Open most recently-imported file: {{ fileimporter.name }}
    </a>
</p>

<form action="{% url 'fileimporter_reimport' fileimporter.id %}">
    <input required type="checkbox" name="sanity" value="I am super sure">
    <input required type="submit" name="submit" value="Re-import">
</form>



<h2>File Import Attempts</h2>

{% filter_table fia_table fia_filter %}

{% endblock %}
