{% load cases_tags %}

<div class="jumbotron jumbotron-warning">
    {% if object.file_missing %}
    <h2 style="color: red" class="display-4">File missing!</h2>
    <p class="lead"><b style="color: red">File <a href="{{ remapped_imported_from | to_file_link }}">{{ remapped_imported_from }}</a> has been moved or deleted!</b></p>
    {% else %}
    <h2 style="color: red" class="display-4">File changed!</h2>
    <p class="lead"><b style="color: red">File <a href="{{ remapped_imported_from | to_file_link }}">{{ remapped_imported_from }}</a> has changed on disk since it was imported</b></p>
    {% endif %}
    <p>You should do one of the following using the buttons below:</p>
    <ul>
        <li>If the file has been deleted or moved by accident, put it back in its original location and then <b>re-import</b></li>
        <li>If the file has changed location permanently, <b>update the file path</b> for this importer</li>
        <li>If this file was imported in error, or no longer needs to be in the system, then you should <b>delete</b> the created models</li>
    </ul>
</div>
