<div class="jumbotron jumbotron-warning">
    {% if fileimporter.file_missing %}
    <h2 style="color: red" class="display-4">File missing!</h2>
    <p class="lead"><b style="color: red">File '{{ fileimporter.file_path }}' has been moved or deleted!</b></p>
    {% else %}
    <h2 style="color: red" class="display-4">File changed!</h2>
    <p class="lead"><b style="color: red">File '{{ fileimporter.file_path }}' has changed on disk since it was imported</b></p>
    {% endif %}
    <p>You should do one of the following:</p>
    <ul>
        <li>If the file has been deleted or moved by accident, put it back in its original location and then re-import</li>
        <li>If the file has changed location permanently, update the 'file path' for this importer</li>
        <li>If this file was imported in error, or no longer needs to be in the system, then you should delete the created models</li>
    </ul>
</div>
