{% extends "cases/base.html" %}
{% load cases_tags %}
{% load django_import_data_tags %}
{% load render_table from django_tables2 %}

{% block content %}

{% make_breadcrumb fileimporter %}

<h1 title="{{fileimporter.file_path}}">{{ fileimporter }} ({{ fileimporter.get_status_display }})</h1>
Current Status: <b>{{ fileimporter.latest_file_import_attempt.get_current_status_display }}</b>
Imported Status: <b>{{ fileimporter.get_status_display }}</b>

{% if fileimporter.file_changed or fileimporter.file_missing %}
{% include "audits/file_change_jumbotron.html" with object=fileimporter %}
{% else %}
    <p>
        <a href="file://{{ fileimporter.latest_file_import_attempt.imported_from }}">
            Open most recently-imported file: {{ fileimporter.name }}
        </a>
    </p>
{% endif %}

<div class="row">
    <div class="col-md-auto">
        <form action="{% url 'fileimporter_reimport' fileimporter.id %}">
            <input required type="checkbox" name="sanity" value="I am super sure">
            <input required type="submit" name="submit" value="Re-import" title="Re-import all models that this File Importer has attempted to create previously">
        </form>
    </div>

    <div class="col-md-auto">
        <form action="{% url 'fileimporter_update' fileimporter.id %}" method="POST">{% csrf_token %}
            <input required name="file_path" value="{{ fileimporter.file_path }}" size="50">
            <input required type="submit" name="submit" value="Update file path" title="Update the file path for this File Importer">
        </form>
    </div>

    <div class="col-md-auto">
        <form action="{% url 'fileimporter_delete_models' fileimporter.id %}">
            <input required type="checkbox" name="sanity" value="I am super sure">
            <input required type="submit" name="submit" value="Delete Created Models" title="Delete all models that have been created by this File Importer. This *does not* delete this File Importer!">
        </form>
    </div>

    <div class="col-md-auto">
        <form method="POST" action="{% url 'acknowledge_fileimporter' fileimporter.latest_file_import_attempt.id %}">
            {% csrf_token %}
            <input required type="checkbox" name="sanity" value="I am super sure">
            <input required type="submit" name="acknowledge" value={% if fileimporter.latest_file_import_attempt.is_acknowledged %}"Unacknowledge"{% else %}"Acknowledge"{% endif %}>
        </form>
    </div>
</div>
{% if tables.1.data %}
<h2>Summary of Errors by Row</h2>
{% render_table tables.1 %}
{% endif %}

<h2 title="Rows imported during this file import attempt">Row Importers</h2>
{% render_table tables.2 %}



<h2>File Import History</h2>

{% render_table tables.0 %}

{% endblock %}
