{% extends "cases/base.html" %}
{% load cases_tags %}
{% load django_import_data_tags %}
{% load render_table from django_tables2 %}

{% block content %}

<h1>{{ fileimportattempt }}</h1>


<p>
    <a href="{{ fileimportattempt.file_importer.get_absolute_url }}">
        Open File Importer
    </a>
    |
    <a href="file://{{ fileimportattempt.imported_from }}">
        Open original file: {{ fileimportattempt.name }}
    </a>
</p>

<form action="{% url 'fileimporter_reimport' fileimportattempt.file_importer.id %}">
    <input required type="checkbox" name="sanity" value="I am super sure">
    <input required type="submit" name="submit" value="Re-import">
</form>

<h2>Models Created from File</h2>
{{ fileimportattempt.creations | json | safe }}

<h2>File-Level Import Errors</h2>
{% if fileimportattempt.errors %}
{{ fileimportattempt.errors | json | safe }}
{% else %}
<p>None</p>
{% endif %}

<h2>Model Import Attempts</h2>

{% filter_table mia_table mia_filter %}

{% endblock %}
