{% extends "cases/base.html" %}
{% load cases_tags %}
{% load django_import_data_tags %}
{% load render_table from django_tables2 %}

{% block content %}

{% make_breadcrumb fileimporter %}

<h1 title="{{fileimporter.file_path}}">{{ fileimporter }}</h1>

{% if fileimporter.file_changed %}
<div class="jumbotron jumbotron-warning">
{% if fileimporter.file_missing %}
    <h2 style="color: red" class="display-4">File missing!</h2>
    <p class="lead"><b style="color: red">File '{{ fileimporter.file_path }}' has been moved or deleted!</b></p>
{% else %}
    <h2 style="color: red" class="display-4">File changed!</h2>
    <p class="lead"><b style="color: red">File '{{ fileimporter.file_path }}' has changed on disk since it was imported</b></p>
{% endif %}
    <p>You should do one of the following:</p>
    <ul>
        <li>If the file has been deleted or moved by accident, put it back in its original location and then re-import</li>
        <li>If the file has changed location permanently, update the 'file path' for this importer</li>
        <li>If this file was imported in error, or no longer needs to be in the system, then you should delete the created models</li>
    </ul>
{# Don't close the jumbotron here; close it down below so that we can pull the forms inside of it for clarity #}
{% else %}
    <p>
        <a href="file://{{ fileimporter.latest_file_import_attempt.imported_from }}">
            Open most recently-imported file: {{ fileimporter.name }}
        </a>
    </p>
{% endif %}


<div class="row">
    <div class="col-md-auto">
        <form action="{% url 'fileimporter_reimport' fileimporter.id %}">
            <input required type="checkbox" name="sanity" value="I am super sure">
            <input required type="submit" name="submit" value="Re-import" title="Re-import all models that this File Importer has attempted to create previously">
        </form>
    </div>

    <div class="col-md-auto">
        <form action="{% url 'fileimporter_update' fileimporter.id %}" method="POST">{% csrf_token %}
            <input required name="file_path" value="{{ fileimporter.file_path }}" size="50">
            <input required type="submit" name="submit" value="Update file path" title="Update the file path for this File Importer">
        </form>
    </div>

    <div class="col-md-auto">
        <form action="{% url 'fileimporter_delete_models' fileimporter.id %}">
            <input required type="checkbox" name="sanity" value="I am super sure">
            <input required type="submit" name="submit" value="Delete Created Models" title="Delete all models that have been created by this File Importer. This *does not* delete this File Importer!">
        </form>
    </div>

    <div class="col-md-auto">
        <form method="POST" action="{% url 'acknowledge_fileimporter' fileimporter.latest_file_import_attempt.id %}">
            {% csrf_token %}
            <input required type="checkbox" name="sanity" value="I am super sure">
            <input required type="submit" name="acknowledge" value={% if fileimporter.latest_file_import_attempt.acknowledged %}"Unacknowledge"{% else %}"Acknowledge"{% endif %}>
        </form>
    </div>
</div>

{# This closes the jumbotron above, but only if it has been opened! #}
{% if fileimporter.file_changed %}
</div>
{% endif %}


<h2>File Import Attempts</h2>

{% render_table tables.0 %}

{% endblock %}
