{% extends "cases/base.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block content %}
<h1>File Audit Dashboard</h1>
{% if table.data %}
<p>Importers on this page have had an issue during their most recent import attempt. You will need to manually resolve the offending source files, then reimport them in order to resolve these.</p>
<form method="POST" >{% csrf_token %}
    {% render_table table %}
    <button class="btn btn-primary" type="submit" value="submit" name="Submit">Acknowledge</button>
</form>
{% else %}
{% include "audits/congratulations.html" with name="File Importers"%}
{% endif %}
{% endblock content %}
