{% extends "cases/base.html" %}
{% load cases_tags %}
{% load django_import_data_tags %}
{% load render_table from django_tables2 %}

{% block content %}

<h1>GBI {{ genericbatchimport }}</h1>

<p><a href=file://{{ object.imported_from }}>Open original file: {{object.name}}</a></p>

<h2>File-Level Import Errors</h2>
{% if genericbatchimport.errors %}
{{ genericbatchimport.errors | json | safe }}
{% else %}
<p>None</p>
{% endif %}

<h2>Audit Groups</h2>

{% filter_table ag_table ag_filter %}



{% endblock %}
