{% extends "cases/base.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block content %}
<h1>Unimported Files Dashboard ({{table.data|length}} unique files across {{ total_paths }} paths)</h1>
{% if table.data %}
<p>
    Files on this page have <strong>not yet been imported</strong>, but probably should be! Each row in the table represents a unique file. In cases where there are duplicates of a given file, they are listed individualy in the first column. In these cases, you may select <strong>one</strong> of these to import! The other should probably be deleted, but that's up to you.
</p>
<form method="POST" >{% csrf_token %}
    {% render_table table %}
    <button class="btn btn-primary" type="submit" value="submit" name="Submit">Import</button>
</form>
{% else %}
{% include "audits/congratulations.html" with name="Unimported Files"%}
{% endif %}
{% endblock content %}
